/*
 * @Author: saber2pr 
 * @Date: 2019-04-16 20:19:27 
 * @Last Modified by: saber2pr
 * @Last Modified time: 2019-04-16 20:49:57
 */
.target {
  width: 0;
  height: 0;
  border-left: 50px solid aqua;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}
.target:hover {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

@keyframes color {
  0% {
    background-color: sienna;
  }
  25% {
    background-color: blueviolet;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: aqua;
  }
  100% {
    background-color: yellowgreen;
  }
}

.target1 {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  animation: color 1s linear infinite;
}

.target2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ddd;
  border-left-color: rgb(255, 127, 197);
  animation: loading linear infinite;
  animation-duration: 1s;
  /* translateZ会启用硬件加速 */
  transform: translateZ(0);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
