/*
 * @Author: saber2pr 
 * @Date: 2019-04-06 19:23:10 
 * @Last Modified by: saber2pr
 * @Last Modified time: 2019-04-06 20:21:12
 */
html,
body {
  /* 取消页面边距 */
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  /* flex容器 */
  display: flex;
  /* x轴分布 */
  flex-direction: row;
}

.container>.left {
  background-color: blue;
  width: 70%;
}

.container>.right {
  background-color: chartreuse;
  width: 30%;
}