/*
 * @Author: saber2pr 
 * @Date: 2019-04-13 15:22:04 
 * @Last Modified by: saber2pr
 * @Last Modified time: 2019-04-13 15:28:49
 */
/** 
 * html5 select>option下拉菜单
 */
* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
}