/*
 * @Author: saber2pr 
 * @Date: 2019-04-12 23:15:46 
 * @Last Modified by: saber2pr
 * @Last Modified time: 2019-04-12 23:19:42
 */
* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  /* 必须有内容 */
  content: "";
  /* 伪元素清除浮动 */
  clear: both;
  /* 必须为block */
  display: block;
}

.container {
  width: 100%;
  background-color: aquamarine;
  /* 去除li样式 */
  list-style-type: none;
}

.container>.items {
  background-color: aqua;
  height: 100px;
  width: 100px;
  /* 浮动为行内排列 */
  float: left;
}